{% extends 'base.html' %}

{% load static tailwind_tags %}
{% load static %}

{% block content %}
<!-- HEADER -->
<header class="flex justify-center items-center bg-slate-50 relative">
    <div class="container px-6 lg:px-24 h-screen flex justify-center items-center">
        <div class="z-20 pointer-events-none">
            <h1 class="text-6xl">Selamat datang</h1>
            <p class="text-3xl my-4">Rumah Belajar Abi Sakinah</p>
        </div>
    </div>
    <div id="canvas" class="z-0 absolute bg-transparent">
    </div>
    <div class="px-2 absolute bottom-20 text-2xl z-10 animate-bounce">
        <a href="#about">
            <i class="bi bi-chevron-down"></i>
        </a>
    </div>
</header>

<!-- ABOUT -->
<div id="about" class="flex justify-center items-center py-20 bg-primary">
    <div class="container px-6 lg:px-24">
        <div class="w-full bg-white h-full rounded-lg shadow">

            <h2 class="text-center text-3xl pt-10">Tentang Kami</h2>
            <div class="w-44">
                <img src="{% static 'img/logo.png' %}" alt="Logo Rumah Belajar Abi Sakinah" width="100%">
            </div>
            <div class="flex mx-8">
                <p>Rumah Belajar Abi Sakinah adalah tempat les yang menyediakan program pembelajaran mewarnai,
                    menggambar, melukis, dan kaligrafi yang ada di Kota Palembang. Les ini dituju bagi anak-anak tingkat
                    TK, SD, SMP, dan SMA. Rumah Belajar Abi sakinah sudah ada sejak tahun 2021. Kami percaya bahwa seni
                    adalah cara yang indah untuk menuangkan kreativitas dan mengembangkan keterampilan visual pada anak.
                </p>
                <p>
                    Kami menyediakan program pembelajaran yang dibuat khusus pada kelompok usia, mulai dari dasar-dasar
                    Menggambar hingga teknik dan konsep yang lebih komplek. Dengan dibimbing oleh pengajar yang
                    berpengalaman dan berdedikasi di bidang seni, kami berkomitmen untuk memberikan pengalaman belajar
                    yang menyenangkan dan bermakna bagi setiap anak.
                </p>
            </div>
            <div class="mx-8">
                Visi
                <p>

                    Menjadi pusat pembelajaran seni yang menginspirasi dan membantu anak-anak untuk mengembangkan kreativitas secara optimal.
                </p>
                Misi
                <ol class="list-decimal">
                    <li>Memberikan pembelajaran yang menyenangkan dan memotivasi anak-anak untuk mengembangkan keterampilan seninya.</li>
                    <li>Mewadahi imajinasi dan kreativitas anak melalui kegiatan seni.</li>
                    <li>Mengembangkan keterampilan dalam seni visual, seperti komposisi, perspektif dan proporsi.</li>
                    <li>Membantu menemukan minat anak dalam seni dan mendorong mereka untuk mengembangkan potensi terbaik.</li>
                    <li>Menyediakan lingkungan belajar yang positif dan mendukung bagi anak-anak untuk mencoba hal baru dalam dunia seni.</li>
                </ol>
            </div>
        </div>

    </div>
</div>
<!-- ABOUT END -->


<!-- HEADER END -->
{% endblock %}